{
  "openapi": "3.0.1",
  "info": {
    "title": "Intercom API",
    "description": "The intercom API reference.",
    "contact": {
      "name": "Intercom Developer Hub",
      "url": "https://developers.intercom.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT"
    },
    "version": "2.15"
  },
  "servers": [
    {
      "url": "https://api.intercom.io",
      "description": "The production API server"
    },
    {
      "url": "https://api.eu.intercom.io",
      "description": "The european API server"
    },
    {
      "url": "https://api.au.intercom.io",
      "description": "The australian API server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Admins",
      "description": "Everything about your Admins"
    },
    {
      "name": "AI Content",
      "description": "With the AI Content APIs, you can create and manage External Pages and Content Import Sources for your Fin Content Library.\n\n&nbsp;\n\n*External Pages* are pages that you want Fin to be able to answer questions about. The API for External Pages is a great way to ingest into your Fin Content Library pages that are not publicly accessible and hence can't be crawled by Intercom.\n\n&nbsp;\n\n*Content Import Sources* are the sources of those pages, and they are used to determine the default audience for the pages (configured via the UI). You should create a Content Import Source for each source of External Pages that you want to ingest into your Fin Content Library.\n\n&nbsp;\n\nYou can then iterate through the content from that source via its API and POST it to the External Pages endpoint. That endpoint has an *external_id* parameter which allows you to specify the identifier from the source. The endpoint will then either create a new External Page or update an existing one as appropriate.\",\n"
    },
    {
      "name": "Articles",
      "description": "Everything about your Articles"
    },
    {
      "name": "Away Status Reasons",
      "description": "Everything about your Away Status Reasons"
    },
    {
      "name": "Brands",
      "description": "Everything about your Brands"
    },
    {
      "name": "Companies",
      "description": "Everything about your Companies"
    },
    {
      "name": "Contacts",
      "description": "Everything about your contacts"
    },
    {
      "name": "Conversations",
      "description": "Everything about your Conversations",
      "externalDocs": {
        "description": "What is a conversation?",
        "url": "https://www.intercom.com/help/en/articles/4323904-what-is-a-conversation"
      }
    },
    {
      "name": "Custom Channel Events",
      "description": "With the \"Custom Channel\" integration, you can bring Fin and Intercom capabilities to your own platform via API, enabling powerful custom integrations.\n\nIntercom treats your integration like any other Intercom channel, allowing your application and Intercom to exchange events seamlessly. This makes it possible, for example, for your users to interact with Fin directly within your own application\u2019s UI.\n\n> **Note:** \"Fin over API\" is currently under managed availability. Please reach out to your accounts team to discuss access and tailored, hands-on support.\n"
    },
    {
      "name": "Custom Object Instances",
      "description": "Everything about your Custom Object instances.\n{% admonition type=\"warning\" name=\"Permission Requirements\" %}\n  From now on, to access this endpoint, you need additional permissions. Please head over to the [Developer Hub](https://app.intercom.com/a/apps/_/developer-hub) app package authentication settings to configure the required permissions.\n{% /admonition %}\n"
    },
    {
      "name": "Data Attributes",
      "description": "Everything about your Data Attributes"
    },
    {
      "name": "Data Events",
      "description": "Everything about your Data Events"
    },
    {
      "name": "Data Export",
      "description": "Everything about your Data Exports"
    },
    {
      "name": "Emails",
      "description": "Everything about your Email Settings"
    },
    {
      "name": "Help Center",
      "description": "Everything about your Help Center"
    },
    {
      "name": "Internal Articles",
      "description": "Everything about your Internal Articles"
    },
    {
      "name": "IP Allowlist",
      "description": "Manage IP allowlist settings for your workspace.\n\nThe IP Allowlist API allows you to configure which IP addresses are allowed to access the Intercom API and web application for your workspace. This is useful for restricting access to your Intercom workspace to specific corporate networks or VPNs.\n\n{% admonition type=\"info\" name=\"Authentication\" %}\n  This endpoint requires the `manage_ip_allowlist` OAuth scope.\n{% /admonition %}\n"
    },
    {
      "name": "Jobs",
      "description": "Everything about jobs"
    },
    {
      "name": "Messages",
      "description": "Everything about your messages"
    },
    {
      "name": "News",
      "description": "Everything about your News",
      "externalDocs": {
        "description": "News explained",
        "url": "https://www.intercom.com/help/en/articles/6362251-news-explained"
      }
    },
    {
      "name": "Notes",
      "description": "Everything about your Notes"
    },
    {
      "name": "Segments",
      "description": "Everything about your Segments"
    },
    {
      "name": "Subscription Types",
      "description": "Everything about subscription types"
    },
    {
      "name": "Switch",
      "description": "Everything about Switch",
      "externalDocs": {
        "description": "Meet Switch: from on hold to messaging in just a few taps",
        "url": "https://www.intercom.com/switch"
      }
    },
    {
      "name": "Tags",
      "description": "Everything about tags"
    },
    {
      "name": "Teams",
      "description": "Everything about your Teams"
    },
    {
      "name": "Ticket States",
      "description": "Everything about your ticket states"
    },
    {
      "name": "Ticket Type Attributes",
      "description": "Everything about your ticket type attributes"
    },
    {
      "name": "Ticket Types",
      "description": "Everything about your ticket types"
    },
    {
      "name": "Tickets",
      "description": "Everything about your tickets"
    },
    {
      "name": "Visitors",
      "description": "Everything about your Visitors"
    },
    {
      "name": "Workflows",
      "description": "Everything about your Workflows"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "Admins"
        ],
        "summary": "Identify an admin",
        "description": "\nYou can view the currently authorised admin along with the embedded app object (a \"workspace\" in legacy terminology).\n\n> \ud83d\udea7 Single Sign On\n>\n> If you are building a custom \"Log in with Intercom\" flow for your site, and you call the `/me` endpoint to identify the logged-in user, you should not accept any sign-ins from users with unverified email addresses as it poses a potential impersonation security risk.\n",
        "operationId": "identifyAdmin",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminWithApp"
                },
                "examples": {
                  "Successful response": {
                    "value": {
                      "type": "admin",
                      "id": "991267459",
                      "email": "admin1@email.com",
                      "name": "Ciaran1 Lee",
                      "email_verified": true,
                      "app": {
                        "type": "app",
                        "id_code": "this_is_an_id1_that_should_be_at_least_40",
                        "name": "MyApp 1",
                        "created_at": 1734537243,
                        "secure": false,
                        "identity_verification": false,
                        "timezone": "America/Los_Angeles",
                        "region": "US"
                      },
                      "avatar": {
                        "type": "avatar",
                        "image_url": "https://static.intercomassets.com/assets/default-avatars/admins/128.png"
                      },
                      "has_inbox_seat": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admins/{adminId}/away": {
      "put": {
        "tags": [
          "Admins"
        ],
        "summary": "Set an admin to away",
        "description": "You can set an Admin as away for the Inbox.",
        "operationId": "setAwayAdmin",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "name": "adminId",
            "in": "path",
            "description": "The unique identifier of a given admin",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminIdAwayBody"
              },
              "examples": {
                "successful_response": {
                  "summary": "Successful response",
                  "value": {
                    "away_mode_enabled": true,
                    "away_mode_reassign": true,
                    "away_status_reason_id": 12345
                  }
                },
                "admin_not_found": {
                  "summary": "Admin not found",
                  "value": {
                    "away_mode_enabled": true,
                    "away_mode_reassign": true
                  }
                },
                "unauthorized": {
                  "summary": "Unauthorized",
                  "value": {
                    "away_mode_enabled": true,
                    "away_mode_reassign": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Admin"
                },
                "examples": {
                  "Successful response": {
                    "value": {
                      "type": "admin",
                      "id": "991267460",
                      "name": "Ciaran2 Lee",
                      "email": "admin2@email.com",
                      "away_mode_enabled": true,
                      "away_mode_reassign": true,
                      "has_inbox_seat": true,
                      "away_status_reason_id": "12345",
                      "team_ids": []
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Admin not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Admin not found": {
                    "value": {
                      "type": "error.list",
                      "request_id": "efcd0531-798b-4c22-bccd-68877ed7faa4",
                      "errors": [
                        {
                          "code": "admin_not_found",
                          "message": "Admin for admin_id not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "parameter_invalid": {
                    "summary": "Example of an invalid away_status_reason_id",
                    "value": {
                      "type": "error.list",
                      "errors": [
                        {
                          "code": "parameter_invalid",
                          "message": "Away status reason is deleted"
                        }
                      ]
                    }
                  },
                  "away_status_reason_mandatory": {
                    "summary": "Example of a missing away_status_reason_id when away reasons are mandatory",
                    "value": {
                      "type": "error.list",
                      "errors": [
                        {
                          "code": "away_status_reason_mandatory",
                          "message": "Away status reason is mandatory"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "e76b2df0-2413-4215-8a5a-b5f6ebd4e642",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admins/activity_logs": {
      "get": {
        "tags": [
          "Admins"
        ],
        "summary": "List all activity logs",
        "description": "You can get a log of activities by all admins in an app.",
        "operationId": "listActivityLogs",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "name": "created_at_after",
            "in": "query",
            "description": "The start date that you request data for. It must be formatted as a UNIX timestamp",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "1677253093",
            "x-ballerina-name": "createdAtAfter"
          },
          {
            "name": "created_at_before",
            "in": "query",
            "description": "The end date that you request data for. It must be formatted as a UNIX timestamp",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "1677861493",
            "x-ballerina-name": "createdAtBefore"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityLogList"
                },
                "examples": {
                  "Successful response": {
                    "value": {
                      "type": "activity_log.list",
                      "pages": {
                        "type": "pages",
                        "next": null,
                        "page": 1,
                        "per_page": 20,
                        "total_pages": 1
                      },
                      "activity_logs": [
                        {
                          "id": "fca05814-4b72-4dce-ad4f-77a786a2c136",
                          "performed_by": {
                            "type": "admin",
                            "id": "991267464",
                            "email": "admin5@email.com",
                            "ip": "127.0.0.1"
                          },
                          "metadata": {
                            "before": "before",
                            "after": "after"
                          },
                          "created_at": 1734537253,
                          "activity_type": "app_name_change",
                          "activity_description": "Ciaran5 Lee changed your app name from before to after."
                        },
                        {
                          "id": "f48c653b-0185-48ac-a276-23d11006bafb",
                          "performed_by": {
                            "type": "admin",
                            "id": "991267464",
                            "email": "admin5@email.com",
                            "ip": "127.0.0.1"
                          },
                          "metadata": {
                            "message": {
                              "id": 123,
                              "title": "Initial message title"
                            },
                            "before": "Initial message title",
                            "after": "Eventual message title"
                          },
                          "created_at": 1734537253,
                          "activity_type": "message_state_change",
                          "activity_description": "Ciaran5 Lee changed your Initial message title message from Initial message title to Eventual message title."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "57cc6148-2c0a-471b-bd9e-859538110958",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admins": {
      "get": {
        "tags": [
          "Admins"
        ],
        "summary": "List all admins",
        "description": "You can fetch a list of admins for a given workspace.",
        "operationId": "listAdmins",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminList"
                },
                "examples": {
                  "Successful response": {
                    "value": {
                      "type": "admin.list",
                      "admins": [
                        {
                          "type": "admin",
                          "email": "admin7@email.com",
                          "id": "991267466",
                          "name": "Ciaran7 Lee",
                          "away_mode_enabled": false,
                          "away_mode_reassign": false,
                          "has_inbox_seat": true,
                          "team_ids": []
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "5ef5682e-f66e-40a4-b828-8592175f83b8",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admins/{adminId}": {
      "get": {
        "tags": [
          "Admins"
        ],
        "summary": "Retrieve an admin",
        "description": "You can retrieve the details of a single admin.",
        "operationId": "retrieveAdmin",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "name": "adminId",
            "in": "path",
            "description": "The unique identifier of a given admin",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Admin found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Admin"
                },
                "examples": {
                  "Admin found": {
                    "value": {
                      "type": "admin",
                      "id": "991267468",
                      "name": "Ciaran9 Lee",
                      "email": "admin9@email.com",
                      "away_mode_enabled": false,
                      "away_mode_reassign": false,
                      "has_inbox_seat": true,
                      "away_status_reason_id": null,
                      "team_ids": []
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Admin not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Admin not found": {
                    "value": {
                      "type": "error.list",
                      "request_id": "c59f7ca5-1639-4284-a66d-50e34ed98ab3",
                      "errors": [
                        {
                          "code": "admin_not_found",
                          "message": "Admin not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "ff783bc1-754f-4a9f-887b-22f94fec18f0",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ai/content_import_sources": {
      "get": {
        "tags": [
          "AI Content"
        ],
        "summary": "List content import sources",
        "description": "You can retrieve a list of all content import sources for a workspace.",
        "operationId": "listContentImportSources",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentImportSourcesList"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "data": [
                        {
                          "id": 33,
                          "type": "content_import_source",
                          "last_synced_at": 1734537259,
                          "status": "active",
                          "url": "https://support.example.com/us/1",
                          "sync_behavior": "automatic",
                          "created_at": 1734537259,
                          "updated_at": 1734537259
                        },
                        {
                          "id": 34,
                          "type": "content_import_source",
                          "last_synced_at": 1734537259,
                          "status": "active",
                          "url": "https://support.example.com/us/2",
                          "sync_behavior": "automatic",
                          "created_at": 1734537259,
                          "updated_at": 1734537259
                        },
                        {
                          "id": 35,
                          "type": "content_import_source",
                          "last_synced_at": 1734537259,
                          "status": "active",
                          "url": "https://support.example.com/us/3",
                          "sync_behavior": "automatic",
                          "created_at": 1734537259,
                          "updated_at": 1734537259
                        }
                      ],
                      "pages": {
                        "type": "pages",
                        "page": 1,
                        "per_page": 50,
                        "total_pages": 1
                      },
                      "total_count": 3,
                      "type": "list"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "9e554e0f-ed0a-4fc6-b141-105d70c9d485",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AI Content"
        ],
        "summary": "Create a content import source",
        "description": "You can create a new content import source by sending a POST request to this endpoint.",
        "operationId": "createContentImportSource",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContentImportSourceRequest"
              },
              "examples": {
                "successful": {
                  "summary": "successful",
                  "value": {
                    "sync_behavior": "api",
                    "url": "https://www.example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentImportSource"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "id": 36,
                      "type": "content_import_source",
                      "last_synced_at": 1734537261,
                      "status": "active",
                      "url": "https://www.example.com",
                      "sync_behavior": "api",
                      "created_at": 1734537261,
                      "updated_at": 1734537261
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "31262ee6-aa3b-4748-a260-a1084754ebae",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ai/content_import_sources/{sourceId}": {
      "get": {
        "tags": [
          "AI Content"
        ],
        "summary": "Retrieve a content import source",
        "operationId": "getContentImportSource",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentImportSource"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "id": 38,
                      "type": "content_import_source",
                      "last_synced_at": 1734537265,
                      "status": "active",
                      "url": "https://support.example.com/us/5",
                      "sync_behavior": "api",
                      "created_at": 1734537265,
                      "updated_at": 1734537265
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "5556d3dd-d4e2-4424-9757-2ad0accb52e5",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns the details of the specified content import source used for AI functionality"
      },
      "put": {
        "tags": [
          "AI Content"
        ],
        "summary": "Update a content import source",
        "description": "You can update an existing content import source.",
        "operationId": "updateContentImportSource",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContentImportSourceRequest"
              },
              "examples": {
                "successful": {
                  "summary": "successful",
                  "value": {
                    "sync_behavior": "api",
                    "url": "https://www.example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentImportSource"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "id": 39,
                      "type": "content_import_source",
                      "last_synced_at": 1734537267,
                      "status": "active",
                      "url": "https://www.example.com",
                      "sync_behavior": "api",
                      "created_at": 1734537267,
                      "updated_at": 1734537267
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "cb4a6795-2cdb-44f9-adb7-0624702f7e8a",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AI Content"
        ],
        "summary": "Delete a content import source",
        "description": "You can delete a content import source by making a DELETE request this endpoint. This will also delete all external pages that were imported from this source.",
        "operationId": "deleteContentImportSource",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "successful"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "093e1dd9-996a-4154-a64c-80803a5c2084",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "sourceId",
          "in": "path",
          "description": "The unique identifier for the content import source which is given by Intercom",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/ai/external_pages": {
      "get": {
        "tags": [
          "AI Content"
        ],
        "summary": "List external pages",
        "description": "You can retrieve a list of all external pages for a workspace.",
        "operationId": "listExternalPages",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPagesList"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "data": [
                        {
                          "id": "19",
                          "type": "external_page",
                          "title": "My External Content",
                          "html": "<h1>Hello world</h1><p>This is external content</p>",
                          "url": "https://support.example.com/us/3",
                          "ai_agent_availability": true,
                          "ai_copilot_availability": true,
                          "fin_availability": true,
                          "locale": "en",
                          "source_id": 42,
                          "external_id": "3",
                          "created_at": 1734537269,
                          "updated_at": 1734537269,
                          "last_ingested_at": 1734537269
                        },
                        {
                          "id": "18",
                          "type": "external_page",
                          "title": "My External Content",
                          "html": "<h1>Hello world</h1><p>This is external content</p>",
                          "url": "https://support.example.com/us/2",
                          "ai_agent_availability": true,
                          "ai_copilot_availability": true,
                          "fin_availability": true,
                          "locale": "en",
                          "source_id": 41,
                          "external_id": "2",
                          "created_at": 1734537269,
                          "updated_at": 1734537269,
                          "last_ingested_at": 1734537269
                        },
                        {
                          "id": "17",
                          "type": "external_page",
                          "title": "My External Content",
                          "html": "<h1>Hello world</h1><p>This is external content</p>",
                          "url": "https://support.example.com/us/1",
                          "ai_agent_availability": true,
                          "ai_copilot_availability": true,
                          "fin_availability": true,
                          "locale": "en",
                          "source_id": 40,
                          "external_id": "1",
                          "created_at": 1734537269,
                          "updated_at": 1734537269,
                          "last_ingested_at": 1734537269
                        }
                      ],
                      "pages": {
                        "type": "pages",
                        "page": 1,
                        "per_page": 50,
                        "total_pages": 1
                      },
                      "total_count": 3,
                      "type": "list"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "bd0c53dd-d3fd-4095-be25-94537a8ba364",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AI Content"
        ],
        "summary": "Create an external page (or update an external page by external ID)",
        "description": "You can create a new external page by sending a POST request to this endpoint. If an external page already exists with the specified source_id and external_id, it will be updated instead.",
        "operationId": "createExternalPage",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalPageRequest"
              },
              "examples": {
                "successful": {
                  "summary": "successful",
                  "value": {
                    "external_id": "abc1234",
                    "html": "<html><body><h1>Test</h1></body></html>",
                    "locale": "en",
                    "source_id": 44,
                    "title": "Test",
                    "url": "https://www.example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPage"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "id": "21",
                      "type": "external_page",
                      "title": "Test",
                      "html": "<html><body><h1>Test</h1></body></html>",
                      "url": "https://www.example.com",
                      "ai_agent_availability": true,
                      "ai_copilot_availability": true,
                      "fin_availability": true,
                      "locale": "en",
                      "source_id": 44,
                      "external_id": "abc1234",
                      "created_at": 1734537273,
                      "updated_at": 1734537274,
                      "last_ingested_at": 1734537274
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "205ffc13-1b25-43b2-a176-cb817af5f899",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ai/external_pages/{pageId}": {
      "get": {
        "tags": [
          "AI Content"
        ],
        "summary": "Retrieve an external page",
        "description": "You can retrieve an external page.",
        "operationId": "getExternalPage",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPage"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "id": "23",
                      "type": "external_page",
                      "title": "My External Content",
                      "html": "<h1>Hello world</h1><p>This is external content</p>",
                      "url": "https://support.example.com/us/6",
                      "ai_agent_availability": true,
                      "ai_copilot_availability": true,
                      "fin_availability": true,
                      "locale": "en",
                      "source_id": 46,
                      "external_id": "5",
                      "created_at": 1734537278,
                      "updated_at": 1734537278,
                      "last_ingested_at": 1734537278
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "504cde98-f786-4f64-b373-e26a6a41fd11",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AI Content"
        ],
        "summary": "Update an external page",
        "description": "You can update an existing external page (if it was created via the API).",
        "operationId": "updateExternalPage",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExternalPageRequest"
              },
              "examples": {
                "successful": {
                  "summary": "successful",
                  "value": {
                    "external_id": "5678",
                    "html": "<html><body><h1>Test</h1></body></html>",
                    "locale": "en",
                    "source_id": 47,
                    "title": "Test",
                    "url": "https://www.example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPage"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "id": "24",
                      "type": "external_page",
                      "title": "Test",
                      "html": "<html><body><h1>Test</h1></body></html>",
                      "url": "https://www.example.com",
                      "ai_agent_availability": true,
                      "ai_copilot_availability": true,
                      "fin_availability": true,
                      "locale": "en",
                      "source_id": 47,
                      "external_id": "5678",
                      "created_at": 1734537280,
                      "updated_at": 1734537281,
                      "last_ingested_at": 1734537281
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "8217b189-b908-4562-962d-2a19a7b77f25",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AI Content"
        ],
        "summary": "Delete an external page",
        "description": "Sending a DELETE request for an external page will remove it from the content library UI and from being used for AI answers.",
        "operationId": "deleteExternalPage",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPage"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "id": "22",
                      "type": "external_page",
                      "title": "My External Content",
                      "html": "",
                      "url": "https://support.example.com/us/5",
                      "ai_agent_availability": true,
                      "ai_copilot_availability": true,
                      "fin_availability": true,
                      "locale": "en",
                      "source_id": 45,
                      "external_id": "4",
                      "created_at": 1734537276,
                      "updated_at": 1734537276,
                      "last_ingested_at": 1734537276
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "2380cdd5-c4a0-451a-b07d-a6f4b720add3",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "pageId",
          "in": "path",
          "description": "The unique identifier for the external page which is given by Intercom",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/articles": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "List all articles",
        "description": "You can fetch a list of all articles by making a GET request to `https://api.intercom.io/articles`.\n\n> \ud83d\udcd8 How are the articles sorted and ordered?\n>\n> Articles will be returned in descending order on the `updated_at` attribute. This means if you need to iterate through results then we'll show the most recently updated articles first.\n",
        "operationId": "listArticles",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleList"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "type": "list",
                      "pages": {
                        "type": "pages",
                        "page": 1,
                        "per_page": 25,
                        "total_pages": 1
                      },
                      "total_count": 1,
                      "data": [
                        {
                          "id": "39",
                          "type": "article",
                          "workspace_id": "this_is_an_id64_that_should_be_at_least_4",
                          "parent_id": 143,
                          "parent_type": "collection",
                          "parent_ids": [],
                          "tags": {
                            "type": "tag.list",
                            "tags": []
                          },
                          "title": "This is the article title",
                          "description": "",
                          "body": "",
                          "author_id": 991267492,
                          "state": "published",
                          "created_at": 1734537283,
                          "updated_at": 1734537283,
                          "url": "http://help-center.test/myapp-64/en/articles/39-this-is-the-article-title"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "2e760b85-9020-471b-89dc-f579ec8a0104",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Create an article",
        "description": "You can create a new article by making a POST request to `https://api.intercom.io/articles`.\n\n> \ud83d\udcd8 Tags cannot be managed via the Articles API\n>\n> Article tags are read-only in responses. To create, update, or delete tags, use the Intercom UI or the Tags API endpoints.\n",
        "operationId": "createArticle",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateArticleRequest"
              },
              "examples": {
                "article_created": {
                  "summary": "article created",
                  "value": {
                    "title": "Thanks for everything",
                    "description": "Description of the Article",
                    "body": "Body of the Article",
                    "author_id": 991267497,
                    "state": "published",
                    "parent_id": 145,
                    "parent_type": "collection",
                    "translated_content": {
                      "fr": {
                        "title": "Merci pour tout",
                        "description": "Description de l'article",
                        "body": "Corps de l'article",
                        "author_id": 991267497,
                        "state": "published"
                      }
                    }
                  }
                },
                "bad_request": {
                  "summary": "Bad Request",
                  "value": {
                    "title": "Thanks for everything",
                    "description": "Description of the Article",
                    "body": "Body of the Article",
                    "state": "published"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "article created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Article"
                },
                "examples": {
                  "article created": {
                    "value": {
                      "id": "42",
                      "type": "article",
                      "workspace_id": "this_is_an_id68_that_should_be_at_least_4",
                      "parent_id": 145,
                      "parent_type": "collection",
                      "parent_ids": [],
                      "statistics": {
                        "type": "article_statistics",
                        "views": 0,
                        "conversations": 0,
                        "reactions": 0,
                        "happy_reaction_percentage": 0,
                        "neutral_reaction_percentage": 0,
                        "sad_reaction_percentage": 0
                      },
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "title": "Thanks for everything",
                      "description": "Description of the Article",
                      "body": "<p class=\"no-margin\">Body of the Article</p>",
                      "author_id": 991267497,
                      "state": "published",
                      "created_at": 1734537288,
                      "updated_at": 1734537288,
                      "url": "http://help-center.test/myapp-68/en/articles/42-thanks-for-everything"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Bad Request": {
                    "value": {
                      "type": "error.list",
                      "request_id": "e522ca8a-cd15-404e-84b3-7f7536003d4a",
                      "errors": [
                        {
                          "code": "parameter_not_found",
                          "message": "author_id must be in the main body or default locale translated_content object"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "85e91429-72df-4e69-8a12-b55793dff59f",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/articles/{articleId}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Retrieve an article",
        "description": "You can fetch the details of a single article by making a GET request to `https://api.intercom.io/articles/<id>`.",
        "operationId": "retrieveArticle",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "name": "articleId",
            "in": "path",
            "description": "The unique identifier for the article which is given by Intercom",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Article found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Article"
                },
                "examples": {
                  "Article found": {
                    "value": {
                      "id": "45",
                      "type": "article",
                      "workspace_id": "this_is_an_id74_that_should_be_at_least_4",
                      "parent_id": 148,
                      "parent_type": "collection",
                      "parent_ids": [],
                      "statistics": {
                        "type": "article_statistics",
                        "views": 0,
                        "conversations": 0,
                        "reactions": 0,
                        "happy_reaction_percentage": 0,
                        "neutral_reaction_percentage": 0,
                        "sad_reaction_percentage": 0
                      },
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "title": "This is the article title",
                      "description": "",
                      "body": "",
                      "author_id": 991267502,
                      "state": "published",
                      "created_at": 1734537292,
                      "updated_at": 1734537292,
                      "url": "http://help-center.test/myapp-74/en/articles/45-this-is-the-article-title"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Article not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Article not found": {
                    "value": {
                      "type": "error.list",
                      "request_id": "79abd27a-1bfb-42ec-a404-5728c76ba773",
                      "errors": [
                        {
                          "code": "not_found",
                          "message": "Resource Not Found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "2eab07fb-5092-49a4-ba74-44094f31f264",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Update an article",
        "description": "You can update the details of a single article by making a PUT request to `https://api.intercom.io/articles/<id>`.\n\n> \ud83d\udcd8 Tags cannot be managed via the Articles API\n>\n> Article tags are read-only in responses. To create, update, or delete tags, use the Intercom UI or the Tags API endpoints.\n",
        "operationId": "updateArticle",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "name": "articleId",
            "in": "path",
            "description": "The unique identifier for the article which is given by Intercom",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateArticleRequest"
              },
              "examples": {
                "successful": {
                  "summary": "successful",
                  "value": {
                    "title": "Christmas is here!",
                    "body": "<p>New gifts in store for the jolly season</p>"
                  }
                },
                "article_not_found": {
                  "summary": "Article Not Found",
                  "value": {
                    "title": "Christmas is here!",
                    "body": "<p>New gifts in store for the jolly season</p>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Article"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "id": "48",
                      "type": "article",
                      "workspace_id": "this_is_an_id80_that_should_be_at_least_4",
                      "parent_id": 151,
                      "parent_type": "collection",
                      "parent_ids": [],
                      "statistics": {
                        "type": "article_statistics",
                        "views": 0,
                        "conversations": 0,
                        "reactions": 0,
                        "happy_reaction_percentage": 0,
                        "neutral_reaction_percentage": 0,
                        "sad_reaction_percentage": 0
                      },
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "title": "Christmas is here!",
                      "description": "",
                      "body": "<p class=\"no-margin\">New gifts in store for the jolly season</p>",
                      "author_id": 991267508,
                      "state": "published",
                      "created_at": 1734537297,
                      "updated_at": 1734537298,
                      "url": "http://help-center.test/myapp-80/en/articles/48-christmas-is-here"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Article Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Article Not Found": {
                    "value": {
                      "type": "error.list",
                      "request_id": "f9adccb2-9fca-4b87-bbb7-65f2af5e1d78",
                      "errors": [
                        {
                          "code": "not_found",
                          "message": "Resource Not Found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "d1ea223d-bb62-42e3-8bcf-30fdcf7dbd99",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Articles"
        ],
        "summary": "Delete an article",
        "description": "You can delete a single article by making a DELETE request to `https://api.intercom.io/articles/<id>`.",
        "operationId": "deleteArticle",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "name": "articleId",
            "in": "path",
            "description": "The unique identifier for the article which is given by Intercom",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedArticleObject"
                },
                "examples": {
                  "successful": {
                    "value": {
                      "id": "51",
                      "object": "article",
                      "deleted": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Article Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Article Not Found": {
                    "value": {
                      "type": "error.list",
                      "request_id": "afe37506-cc48-4727-8068-ae7ff0e7b0e3",
                      "errors": [
                        {
                          "code": "not_found",
                          "message": "Resource Not Found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "c6e86ce8-9402-4196-89c5-f1b2912b4bac",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/articles/search": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Search for articles",
        "description": "You can search for articles by making a GET request to `https://api.intercom.io/articles/search`.",
        "operationId": "searchArticles",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "name": "phrase",
            "in": "query",
            "description": "The phrase within your articles to search for",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "Getting started"
          },
          {
            "name": "state",
            "in": "query",
            "description": "The state of the Articles returned. One of `published`, `draft` or `all`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "published"
          },
          {
            "name": "help_center_id",
            "in": "query",
            "description": "The ID of the Help Center to search in",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            },
            "example": 123,
            "x-ballerina-name": "helpCenterId"
          },
          {
            "name": "highlight",
            "in": "query",
            "description": "Return a highlighted version of the matching content within your articles. Refer to the response schema for more details",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Search successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleSearchResponse"
                },
                "examples": {
                  "Search successful": {
                    "value": {
                      "type": "list",
                      "total_count": 1,
                      "data": {
                        "articles": [
                          {
                            "id": "55",
                            "type": "article",
                            "workspace_id": "this_is_an_id92_that_should_be_at_least_4",
                            "parent_id": null,
                            "parent_type": null,
                            "parent_ids": [],
                            "tags": {
                              "type": "tag.list",
                              "tags": []
                            },
                            "title": "Title 1",
                            "description": "",
                            "body": "",
                            "author_id": 991267521,
                            "state": "draft",
                            "created_at": 1734537306,
                            "updated_at": 1734537306,
                            "url": null
                          }
                        ],
                        "highlights": []
                      },
                      "pages": {
                        "type": "pages",
                        "page": 1,
                        "total_pages": 1,
                        "per_page": 10
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "c70746a8-a5b2-4772-afba-1a4b487ea75d",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/away_status_reasons": {
      "get": {
        "tags": [
          "Away Status Reasons"
        ],
        "summary": "List all away status reasons",
        "description": "Returns a list of all away status reasons configured for the workspace, including deleted ones.",
        "operationId": "listAwayStatusReasons",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AwayStatusReason"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/export/reporting_data/enqueue": {
      "post": {
        "tags": [
          "Export"
        ],
        "summary": "Enqueue a new reporting data export job",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportingDataEnqueueBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Job enqueued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportingJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. validation errors)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "No dataset_id": {
                    "value": {
                      "type": "error.list",
                      "request_id": "b68959ea-6328-4f70-83cb-e7913dba1542",
                      "errors": [
                        {
                          "code": "bad_request",
                          "message": "'dataset_id' is a required parameter"
                        }
                      ]
                    }
                  },
                  "Invalid dataset_id": {
                    "value": {
                      "type": "error.list",
                      "request_id": "b68959ea-6328-4f70-83cb-e7913dba1542",
                      "errors": [
                        {
                          "code": "bad_request",
                          "message": "imaginary is not a valid dataset_id"
                        }
                      ]
                    }
                  },
                  "No attribute_ids": {
                    "value": {
                      "type": "error.list",
                      "request_id": "b68959ea-6328-4f70-83cb-e7913dba1542",
                      "errors": [
                        {
                          "code": "bad_request",
                          "message": "'attribute_ids' is a required parameter"
                        }
                      ]
                    }
                  },
                  "Empty attribute_ids": {
                    "value": {
                      "type": "error.list",
                      "request_id": "b68959ea-6328-4f70-83cb-e7913dba1542",
                      "errors": [
                        {
                          "code": "bad_request",
                          "message": "attribute_ids must contain at least one attribute_id"
                        }
                      ]
                    }
                  },
                  "Non array attribute_ids": {
                    "value": {
                      "type": "error.list",
                      "request_id": "b68959ea-6328-4f70-83cb-e7913dba1542",
                      "errors": [
                        {
                          "code": "bad_request",
                          "message": "'attribute_ids' not an array must be of type Array"
                        }
                      ]
                    }
                  },
                  "Invalid attribute_ids": {
                    "value": {
                      "type": "error.list",
                      "request_id": "b68959ea-6328-4f70-83cb-e7913dba1542",
                      "errors": [
                        {
                          "code": "bad_request",
                          "message": "attribute_ids invalid for conversation dataset: non_existent"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "b68959ea-6328-4f70-83cb-e7913dba1542",
                      "errors": [
                        {
                          "code": "unauthorized",
                          "message": "Access Token Invalid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many jobs in progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "error.list",
                      "request_id": "b68959ea-6328-4f70-83cb-e7913dba1542",
                      "errors": [
                        {
                          "code": "rate_limit_exceeded",
                          "message": "Exceeded rate limit of 5 pending reporting dataset export jobs"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "enqueueReportingDataExport",
        "description": "Returns the job details for the newly enqueued reporting data export request"
      }
    },
    "/export/reporting_data/{job_identifier}": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Get export job status",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "The Intercom defined code of the workspace the company is associated to",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "appId"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "clientId"
          },
          {
            "name": "job_identifier",
            "in": "path",
            "description": "Unique identifier of the job",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "jobIdentifier",
            "style": "simple",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExportStatus"
                },
                "examples": {
                  "With complete status": {
                    "value": {
                      "job_identifier": "job1",
                      "status": "complete",
                      "download_url": "",
                      "download_expires_at": ""
                    }
                  },
                  "With failed status": {
                    "value": {
                      "job_identifier": "job1",
                      "status": "failed",
                      "download_url": "",
                      "download_expires_at": ""
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "When job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not found": {
                    "value": {
                      "type": "error.list",
                      "request_id": "b68959ea-6328-4f70-83cb-e7913dba1542",
                      "errors": [
                        {
                          "code": "not_found",
                          "message": "Export job not found for identifier: job1"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getReportingDataExportStatus",
        "description": "Returns the current status and progress information for the specified export job"
      }
    },
    "/export/reporting_data/get_datasets": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "List available datasets and attributes",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "List of datasets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetListResponse"
                }
              }
            }
          }
        },
        "operationId": "listReportingDatasets",
        "description": "Returns a list of available datasets and their attributes for reporting data export"
      }
    },
    "/download/reporting_data/{job_identifier}": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Download completed export job data",
        "description": "Download the data from a completed reporting data export job.\n\n> Octet header required\n>\n> You will have to specify the header Accept: `application/octet-stream` when hitting this endpoint.\n",
        "parameters": [
          {
            "name": "Intercom-Version",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/IntercomVersion"
            },
            "x-ballerina-name": "intercomVersion"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Required header for downloading the export file",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/octet-stream",
              "enum": [
                "application/octet-stream"
              ]
            },
            "x-ballerina-name": "accept"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "appId"
          },
          {
            "name": "job_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "jobIdentifier",
            "style": "simple",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Export file downloaded"
          },
          "404": {
            "description": "When job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not found": {
                    "value": {
                      "type": "error.list",
                      "request_id": "b68959ea-6328-4f70-83cb-e7913dba1542",
                      "errors": [
                        {
                          "code": "not_found",
                          "message": "Export job not found for identifier: job1"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "downloadReportingDataExport"
      }
    },
    "/help_center/collections": {
      "get": {
        "tags": [
          "Help Center"
        ],
        "summary": "List all collections",
        "description": "You can fetch a list of all collections by making a GET request to `https://api.intercom.io/help_center/collections`.\n\nCollections will be returned in descending order on the `updated_at` attribute. This means if you need to iterate through results then we'll show the most recently updated collections first.\n",
        "operationId": "listAllCollections",
        "parameters": [
[...]
